.profile__avatar {
  max-width: 120px;
  min-height: 120px;
  margin: 0 30px auto 0;
  padding: 0;
  border-radius: 50%;
}

@media screen and (max-width: 550px) {
  .profile__avatar {
    width: 88.125%;
    margin: 0 auto;
  }
}